td {
    border: 2px inset #eaeaea;
    width: 22px;
    height: 22px;
    text-align: center;    
    font-size: 16px;
    background: #e2e2e2;
    font-weight: bold;
    font-family: monospace;
}

.gray{
    background: #bbbaba;
}

.blue{
    color: blue;
}

.red{
    color: red;
}

.green{
    color: green;
}

table {
    border: 4px inset #c5c5c5;
    margin: 3px;
    border-spacing: 0px !important;
}

.content-matrix {
    border: 4px inset #c5c5c5;
    background: #e4e4e4;
    display: inline-grid;
}

.time {
    color: red;
    font-family: monospace;
    font-size: 20px;
    font-weight: 100;
    background: #525252;
}

button {
    border: 3px inset #c5c5c5;
    background: #e4e4e4;
    width: 37px;
    height: 35px;
    font-size: 14px;
    text-align: center;
}