<div class="content-matrix">
    <table>
        <tr>
            <th style="text-align: left;"><span class="time">0{{numberOfMines}}</span></th>
            <th><button (click)="ngOnInit()">{{!gameOver?'🙂':(youWin?'😃':'🙁')}}</button></th>
            <th style="text-align: right;"><span class="time">{{(timeTracking<10?'00':(timeTracking<100?'0':''))}}{{timeTracking}}</span></th>
        </tr>
    </table>
    <table>
            <tr *ngFor="let row of matrix">
                <td *ngFor="let cell of row" (click)="onClickCell(cell);"
                    (contextmenu)="onRightClickCell(cell, $event);" [ngClass]="{'gray': cell.visible, 'blue': cell.value === '1', 'green': cell.value === '2', 'red': cell.value >= 3}">
                    <ng-container *ngIf="cell.visible">
                        {{cell.value === 'mine' ? '💣' : cell.value}}
                    </ng-container>
                    <ng-container *ngIf="!cell.visible && cell.flag">❓</ng-container>
                </td>
            </tr>
    </table>
</div>
